@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500&family=Outfit:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap');

/* GENERALE */

body {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/bg.jpg);
  background-size: 100%;
  font-family: 'Inter', sans-serif;
  background-repeat: no-repeat;
}

header img {
  width: 12%;
}

h1 {
  font-weight: 300;
  line-height: 0.7;
}

#container {
  margin: 30px 160px;
}

.button {
  background-color: #54efff;
  font-size: 1.2em;
  padding: 15px 60px;
  -webkit-box-shadow: 2px 0px 18px 3px #54efff;
  box-shadow: 2px 0px 18px 3px #54efff;
  color: #0b113b;
}

.button,
input,
#four-answers button {
  border: none;
}

.container-button,
#summary #donutChart,
input,
#reviewPage,
.button-review,
#paginaQuiz,
#results h1,
#countdown,
#results p {
  text-align: center;
}

#checked,
#summary {
  display: block;
}

input[type='text'],
input::placeholder,
#correct,
#correct p {
  text-align: left;
}

#checklabel,
input[type='text'],
body,
#countdown-number,
#correct h2,
#wrong h2,
.button-transparent {
  color: #fff;
}

#results h1,
#correct h2,
#wrong h2,
h1 {
  font-size: 3em;
}

.button-transparent,
.button,
h1,
h2 {
  font-family: 'Outfit', sans-serif;
}

span,
#results h1,
.button,
.button-transparent,
.button-review {
  font-weight: 700;
}

#correct h2,
#wrong h2 {
  font-weight: 500;
}

.checked,
#countdown-number,
.risultati {
  display: inline-block;
}

#checked div:nth-of-type(2) {
  width: 30%;
}

#checked,
#summary {
  width: 100%;
}

#counter span,
h2 {
  color: #d20094;
}

.button-transparent,
.stars,
#four-answers button,
.button {
  cursor: pointer;
}

/* HOMEPAGE / INDEX */

.container-index h1 {
  margin-top: 100px;
}

.checkbox-button {
  margin-top: 50px;
}

#check {
  appearance: none;
  border: 1px solid white;
  width: 12px;
  height: 12px;
}

#checklabel {
  font-size: medium;
  display: inline;
  padding-left: 10px;
}

.container-body p {
  margin-top: -15px;
}

.list ul {
  line-height: 1.5;
  margin-left: -18px;
}

.list {
  margin-bottom: 70px;
}

#check:checked {
  background-color: #d20094;
}

#checked div:nth-of-type(1) {
  width: 60%;
}

#proceed:disabled {
  background-color: #959c9c;
  box-shadow: none;
  color: #363535;
}

/* REVIEW PAGE */

input {
  width: 55%;
  height: 25px;
}

input[type='text'] {
  background: transparent;
}

.input {
  margin-left: 150px;
}

hr {
  width: 35%;
  border-color: #d20094;
  margin-top: -25px;
  margin-bottom: 40px;
}

section p {
  margin-top: 40px;
  margin-bottom: 40px;
}

#reviewPage h1 {
  font-size: 2.5em;
}

#reviewPage p {
  font-size: 1.2em;
}

#reviewPage {
  margin-top: 100px;
}

.stars {
  margin-top: 60px;
  margin-bottom: 60px;

  &[data-stars] {
    .star path {
      fill: #00ffff;
    }
  }

  &[data-stars='1'] {
    .star:nth-child(1) ~ .star path {
      fill: #080c2c;
    }
  }

  &[data-stars='2'] {
    .star:nth-child(2) ~ .star path {
      fill: #080c2c;
    }
  }

  &[data-stars='3'] {
    .star:nth-child(3) ~ .star path {
      fill: #080c2c;
    }
  }

  &[data-stars='4'] {
    .star:nth-child(4) ~ .star path {
      fill: #080c2c;
    }
  }

  &[data-stars='5'] {
    .star:nth-child(5) ~ .star path {
      fill: #080c2c;
    }
  }
  &[data-stars='6'] {
    .star:nth-child(6) ~ .star path {
      fill: #080c2c;
    }
  }
  &[data-stars='7'] {
    .star:nth-child(7) ~ .star path {
      fill: #080c2c;
    }
  }
  &[data-stars='8'] {
    .star:nth-child(8) ~ .star path {
      fill: #080c2c;
    }
  }
  &[data-stars='9'] {
    .star:nth-child(9) ~ .star path {
      fill: #080c2c;
    }
  }
  &[data-stars='10'] {
    .star:nth-child(10) ~ .star path {
      fill: #080c2c;
    }
  }
}

input:focus {
  outline: none;
}

svg {
  margin-left: 10px;
}

/* QUIZ PAGE */

#paginaQuiz {
  margin-top: 100px;
}

#four-answers button {
  font-size: large;
  background-color: rgba(117, 117, 117, 0.212);
  width: 30pc;
  height: 80px;
  border-radius: 50px;
  margin: 20px auto;
  color: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) -2px -2px 0px, rgba(255, 255, 255) 0px -3px 0px,
    rgba(255, 255, 255) 0px 0px 0px, rgba(255, 255, 255) -3px 0px 0px;
}

#answer-1,
#answer-2,
#answer-3,
#answer-4 {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

#four-answers button:hover {
  background-image: linear-gradient(#d20094, rgb(100, 32, 69));
}

#question h1 {
  margin-bottom: 60px;
  line-height: 1.1em;
}

#counter {
  margin-top: 50px;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
}

#countdown-number {
  line-height: 40px;
}

#countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg #circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 20s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#circle1 {
  stroke-width: 5px;
  stroke: #ffffff60;
  fill: none;
}

/* RESULTS PAGE */

.risultati {
  width: 33%;
}

.header-results {
  margin-bottom: 60px;
}

#results p {
  font-weight: 300;
}

#results {
  line-height: 0em;
}

#summary h3 {
  font-size: 2.4em;
  line-height: 0.5em;
}

#correct p,
#wrong p {
  font-size: 1em;
}

#wrong,
#wrong p {
  text-align: right;
}

.hidden {
  display: none;
}

.container-button {
  margin-top: 60px;
}

.button-transparent {
  background-color: transparent;
  font-size: 2em;
  font-weight: bold;
  padding: 15px 60px;
  -webkit-box-shadow: 2px 0px 18px 3px #232c7c;
  box-shadow: 2px 0px 18px 3px #2b3899;
  border: 3px solid white;
}
